:root {
  --blue: #194399;
  --1: #5A5A5A ;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.slide-intro {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}
.slide-intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.1215686275);
  z-index: 1;
}
.slide-intro .heading {
  color: #fff;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
}
.slide-intro .heading h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.slide-intro .heading h2 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45.1%, #FFF), color-stop(78.62%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFF 45.1%, rgba(255, 255, 255, 0) 78.62%);
  background: linear-gradient(180deg, #FFF 45.1%, rgba(255, 255, 255, 0) 78.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slide-intro .heading h4 {
  font-family: "Pacifico", cursive;
  font-size: 22px;
}
.slide-intro img {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-intro .carousel-indicators {
  margin-right: 5%;
  margin-left: 5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767px) {
  .slide-intro img {
    min-height: 100vh;
  }
  .slide-intro .heading h3 {
    font-size: 26px;
  }
  .slide-intro .heading h2 {
    font-size: 76px;
  }
  .slide-intro .heading h4 {
    font-size: 16px;
  }
  .slide-intro::after {
    background: rgba(0, 0, 0, 0.29);
  }
}
@media (max-width: 500px) {
  .slide-intro .heading {
    margin-top: 30%;
  }
  .slide-intro .heading h2 {
    font-size: 46px;
  }
}

.about-us {
  padding: 4rem 0;
  position: relative;
  background-image: url("/assets/images/bgr-about-us.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}
.about-us .body-content {
  text-align: justify;
  max-width: 490px;
}
.about-us--sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-us--sevice-item {
  width: calc(50% - 15px);
  max-width: 300px;
  height: 300px;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  border-bottom: 2px solid transparent;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about-us--sevice-item:hover {
  border-bottom: 2px solid var(--blue, #194399);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about-us--sevice-item .heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background: var(--gra1, linear-gradient(90deg, #194399 0%, #44AC45 50.52%, #194399 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin-bottom: 15px;
}
.about-us--sevice-item .heading::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: var(--blue);
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
  opacity: 0.3;
}
.about-us.about-position {
  padding-bottom: 8rem;
}
.about-us.about-position .about-us--sevice {
  position: absolute;
  top: -125px;
  z-index: 2;
}
@media (max-width: 1200px) {
  .about-us--sevice-item .heading {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .about-us .body-content {
    max-width: 100%;
  }
  .about-us.about-position {
    padding-bottom: 4rem;
  }
  .about-us.about-position .about-us--sevice {
    position: unset;
  }
  .about-us--sevice {
    margin-top: 30px;
  }
  .about-us--sevice-item {
    width: calc(50% - 7.5px);
    max-width: 100%;
  }
}
@media (max-width: 489px) {
  .about-us--sevice-item {
    width: calc(100% - 0px);
    height: auto;
  }
}

.body-content {
  font-size: 14px;
  font-weight: 600;
  color: var(--blue);
}

.text-description-center {
  color: var(--1, #5A5A5A);
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.btn-custom {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
}
.btn-custom svg {
  margin-left: 5px;
}

.find-your-destination {
  padding: 4rem 0;
}
.find-your-destination .heading {
  text-align: center;
}
.find-your-destination .heading h2 {
  background: var(--gra1, linear-gradient(90deg, #194399 0%, #44AC45 50.52%, #194399 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.find-your-destination .heading h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  color: var(--blue, #194399);
  text-align: center;
}
.find-your-destination--owl .slider {
  width: 100%;
  margin: 100px auto;
}
.find-your-destination--owl .slick-list {
  padding: 0 !important;
}
.find-your-destination--owl .slick-slide {
  margin: 10px 30px;
}
.find-your-destination--owl .slick-slide img {
  width: 100%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.find-your-destination--owl .slick-prev:before,
.find-your-destination--owl .slick-next:before {
  color: black;
}
.find-your-destination--owl .slick-center img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}